@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url('../images/background.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.user-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.user-button {
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

.arrow {
  font-size: 0.8em;
  margin-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  right: 0;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.dropdown-content a,
.dropdown-content button {
  background: none;
  border: none;
  color: white;
  padding: 10px 16px;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  font-family: inherit;
  box-sizing: border-box;
  text-decoration: none;
}


.dropdown-content a:hover,
.dropdown-content button:hover {
  background-color: #444;
}


.user-dropdown:hover .dropdown-content {
  display: block;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2); /* Negro transparente */
    transition: background-color 0.3s ease, padding 0.3s ease;
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}

.center-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center-text h1 {
    font-size: 4em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.search-container {
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.search-container h2 {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.result-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.result-table th, .result-table td {
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
}

.result-table tr:nth-child(even){
    background: #f2f2f2;
}

.result-table a {
    color: #162938;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #162938;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.result-table a:hover {
    background: #162938;
    color: #fff;
}

.result-table th {
    background: #162938;
    color: #fff;
}

.search-form {
    display: flex;
    gap: 20px;
}

.search-input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #fff;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
}

.search-input::placeholder{
    color: #fff;
}

.search-btn {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #162938;
    cursor: pointer;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.logo .logo-img{
    width: 100px;
    height: auto;
}

.wrapper {
    position: fixed;
    top: 25%; /* este es el que modificaremos */
    left: 40%;
    transform: translate(-50%, -50%) scale(0); /* combinación de posición y escala */
    width: 300px;
    height: 540px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease, top 0.3s ease;
    z-index: 9999;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 50;

}

.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #fff;
    margin: 10px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    transition: .5s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color:#fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}


.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -10px 0 10px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
   accent-color: #fff; 
   margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    color:aqua;
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
    color: aqua;
}

header .header-user {
    color: white;
    margin-right: 20px; 
    margin-left: 20px;
}

.navigation a,
.header-user {
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
}

.navigation .btnLogin-popup,
.navigation a:hover,
.header-user:hover {
    color: aqua; 
}

.info-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
  padding: 20px;
  gap: 20px;
  max-width: 1200px;
  width: 90%;
  box-sizing: border-box;
}


.info-box {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex: 1 1 300px;
  min-width: 280px;
  max-width: 350px;
  box-sizing: border-box;
}


.info-box h3 {
    font-size: 1.5em; 
    color: #162938; 
    margin-bottom: 10px; 
}

.info-box p {
    font-size: 1em; 
    color: #162938; 
}

.info-image,
.imagen-santiago {
  width: 400px;
  height: auto;
  border-radius: 10px;
  margin: 40px 20px 0 20px;
}


.exchange-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 900px;
  width: 99vw; /* ← Asegura que use el ancho completo de la pantalla */
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box; /* ← Asegura que padding no cree scroll */
  border-left: none;
  border-right: none;
}


.exchange-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 0.95em;
  font-weight: bold;
  color: #000;
}

.exchange-item img.flag {
  width: 50px;
  height: auto;
  margin-right: 8px;
}

.exchange-rate {
    font-weight: bold;
    font-size: large; 
}

.animated-exchange {
    display: flex; 
    animation: slide-in-out 25s linear infinite; 
}

@keyframes slide-in-out {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-50%); 
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: -1250px;
    width: 100%;
    height: 320px;
    clear: both;
}

.footer-content {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
}

.address {
    flex: 1;
    font-size: 16px;
}

.social-icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-left: 1300px;
}

.social-icons a img {
    width: 32px;
    height: 32px;
}

.social-icons a {
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1); 
}

.address-section {
    flex: 1;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 20px;
}

.address-section iframe {
    margin-top: 20px;
    border-radius: 8px;
    position: absolute;
}

.footer-bottom {
    margin-bottom: 400px;
    font-size: 14px;
    color: #ccc;
}





